body {
  background-color: rgba(237, 237, 237, 0.9176470588);
}

.noticias__principales :hover {
  scale: 1.01;
  transition-duration: 1s;
  box-shadow: 5px 5px 5px;
}

.principales__noticia :hover {
  scale: none;
  box-shadow: none;
}

.headerestandar {
  background-color: #174c4f;
}
.headerestandar__form {
  background-color: rgb(218, 218, 218);
  border-color: gray;
  border-radius: 0.5rem;
}
.headerestandar__form:hover {
  background-color: #174c4f;
  color: aliceblue;
  border-radius: 15%;
  border: 0.1rem solid black;
}
.headerestandar__buscar {
  width: 3rem;
  border-radius: 15%;
}
.headerestandar__buscar:hover {
  width: 13rem;
  transform: scale(1, 1);
  transition-duration: 0.3s;
  transform-origin: right;
  transition-timing-function: linear;
  border-radius: 10%;
}

.divider-icon {
  background-color: black;
  height: 0.5rem;
}
.divider-icon__titulo {
  border: 0.5rem solid black;
  border-radius: 10%;
}

.aside__ {
  background-color: rgba(237, 237, 237, 0.9176470588);
  padding-left: 2rem;
  margin-right: 5%;
  border-left: 0.2rem dashed #174c4f;
  padding: 1%;
  height: 90%;
}
.aside__tendencias__listas {
  background-color: rgb(218, 218, 218);
  margin: 2%;
  font-family: "Crimson Text", serif;
}

.section__temas {
  background-color: #174c4f;
  padding: 1rem;
}
.section__temas__card {
  padding: 0%;
}

.section__tarjetas__titulo {
  color: black;
  font-family: "Crimson Text", serif;
  margin-bottom: 5%;
  padding: 1%;
  border: gray;
  border-radius: 0.5rem;
  background-color: rgb(218, 218, 218);
}

.footer__color {
  background-color: #174c4f;
}

.pie-de-foto {
  color: black;
  font-family: "Crimson Text", serif;
  font-weight: 700;
  margin: 1%;
}

.separador-de-contenido {
  border: 0.2rem dashed #174c4f;
}

.economia__titulos {
  border-bottom: 0.2rem dashed #174c4f;
}

.cuadro__divisas__ {
  border: 0.2rem dashed #174c4f;
  padding: 1%;
  margin: 0.2rem;
}
@media (min-width: 1200px) {
  .cuadro__divisas__ {
    max-height: 23rem;
  }
}
.cuadro__divisas__listas {
  background-color: rgb(218, 218, 218);
  border: 0.2rem solid rgba(237, 237, 237, 0.9176470588);
  margin-bottom: 2%;
}
@media (min-width: 1200px) {
  .cuadro__divisas__listas {
    max-height: 40%;
    max-width: 24%;
  }
}
.cuadro__divisas__titulo {
  border-right: 0.2rem dashed #174c4f;
  border-left: 0.2rem dashed #174c4f;
  padding: 1%;
}

.economia__section {
  border-left: 0.2rem dashed #174c4f;
  padding: 0.5rem;
  border-radius: 1%;
}

.economia__tarjeta {
  background-color: rgb(218, 218, 218);
  border: 0.2rem dashed #174c4f;
  padding: 6%;
}
.economia__tarjeta:hover {
  border: 0.2rem dashed #174c4f;
  scale: 1.01;
  transition-duration: 0.4s;
  box-shadow: 5px 5px 5px;
}
@media (min-width: 1200px) {
  .economia__tarjeta {
    background-color: rgba(237, 237, 237, 0.9176470588);
    padding: 1.2rem;
    border: 0.1rem solid rgb(218, 218, 218);
    min-height: 47vh;
  }
}

.tarjeta__autor {
  margin-top: 0.5rem;
  border-radius: 12%;
}

.contacto__icons {
  height: 1%;
  width: 10%;
}

.formulario {
  border-right: 0.2rem dashed #174c4f;
}
.formulario__asunto {
  margin-right: 6rem;
}
.formulario__consulta {
  height: 10%;
  overflow: scroll;
}

.noticia__borde {
  padding-left: 3%;
  border-left: 0.5rem dashed #174c4f;
}

.aside__ {
  background-color: rgba(237, 237, 237, 0.9176470588);
  padding-left: 2rem;
  margin-left: 2rem;
  border-right: 0.2rem dashed #174c4f;
  padding: 1%;
  height: 90%;
}
.aside__tendencias__listas {
  background-color: rgb(218, 218, 218);
  margin: 2%;
  font-family: "Crimson Text", serif;
}

.index__themesection {
  border: 0.2rem dashed #174c4f;
  margin: 2rem;
}

.index__noticias {
  border-left: 0.2rem dashed #174c4f;
  border-right: 0.2rem dashed #174c4f;
}

.index__interesarte {
  border: 0.2rem dashed #174c4f;
  padding: 0.5rem;
}

.principales__tarjeta {
  margin: 0.5rem;
  border: 0.2rem solid #174c4f;
  padding: 0.6rem;
  height: 8rem;
  width: 97%;
}
@media (min-width: 768px) {
  .principales__tarjeta {
    height: 10rem;
    width: 36rem;
  }
}
.principales__tarjeta__chica {
  margin: 0.5rem;
  border-left: 0.2rem solid #174c4f;
  padding: 0.4rem;
  background-color: rgb(218, 218, 218);
  height: 6.5rem;
}
.principales__tarjeta__titulo {
  font-family: "Crimson Text", serif;
  font-size: large;
  margin-left: 1rem;
}
.principales__tarjeta__encabezado {
  display: none;
}
@media (min-width: 768px) {
  .principales__tarjeta__encabezado {
    display: inline-block;
    font-family: "Merriweather", serif;
    font-size: small;
    margin-left: 1rem;
  }
}
.principales__tarjeta__imagen {
  max-width: 32%;
  margin-right: 2%;
  margin-left: 2%;
  border: 0.2rem dashed #174c4f;
  padding: 1%;
}

/*# sourceMappingURL=styles.css.map */
