.cuadro__divisas__{
    border: 0.2rem dashed $color-principal;
    padding: 1%;
    margin: 0.2rem;
    &listas{
        background-color: $color-fondo-gris ;
        border: 0.2rem solid $color-fondo; 
        margin-bottom: 2%;}
    &titulo{
        border: 0.2rem dashed $color-principal;
        border-radius: 8%;
        padding: 1%;
    }
    }
    .economia__section {
        border-left: 0.2rem dashed $color-principal;
        padding: 0.5rem;
        border-radius: 1%;


    }
    .economia__tarjeta{
        background-color: $color-fondo-gris;
        border: 0.2rem dashed $color-principal;
        padding:6%;
        @media (min-width: 1200px){
            background-color: $color-fondo;
            padding: 1rem;
            border: 0.1rem solid $color-fondo-gris;
        }
    }